.filter {
  margin: 0 10px;
}

.filter.small {
  max-width: 30vw;
}

.filter.stretch {
  flex: 1;
}

.scrollable {
  max-height: 80vh;
}

/* Table header row */
mat-header-row {
  /*https://github.com/angular/material2/issues/5885*/
  position: sticky;
  top: -.5px;
  background: white;
  z-index: 100;
}

mat-card-header-text {
  margin: 0;
}
