<p>
  Hi, I'm
  <a href="https://kimkern.de" target="_blank">Kim</a>
  and I love using
  <a href="https://uberspace.de" target="_blank">Uberspace</a>
  for hosting my projects and organizing my mails. Since I use different mail addresses for every service I use, I have
  a lot of <code>.qmail</code> files lying around. This little tool helps organizing those files and makes editing and
  creating new ones really easy.
</p>

<p>
  If you like this tool,
  <a>share it</a>
  with your friends, make a pull request or
  <a>buy me a drink</a>
  . ;-)
</p>

<p>
  If you're having problems, check out the instructions for the
  <a href="https://github.com/kiwikern/QMailO/blob/master/README.md">server readme</a>
  and the
  <a href="https://github.com/kiwikern/QMailO-Frontend/blob/master/README.md" target="_blank">frontend readme</a>.
</p>

<p>
  I'm very happy about any kind of feedback, feel free to send me an e-mail to
  <a target="_blank" href="mailto:qmailo@kimkern.de">qmailo@kimkern.de</a>
  or open an issue on GitHub for the
  <a href="https://github.com/kiwikern/QMailO-Frontend/issues">frontend</a>
  or the
  <a href="https://github.com/kiwikern/QMailO/issues">server</a>
  .
</p>
