<form #form="ngForm" (ngSubmit)="save()">
  <mat-card>

    <mat-card-title *ngIf="id">
      Edit
    </mat-card-title>
    <mat-card-title *ngIf="!id">
      Add a new file
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <span matPrefix class="gray">.qmail-</span>
        <input matInput #name name="id"  placeholder="Name" pattern="[^\.^\s^\\^/^\?^%^\*^:^|^<^>]+" [(ngModel)]="file.id" [disabled]="id" required>
        <mat-error *ngIf="name.validity && name.value">Name includes prohibited characters.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput matTextareaAutosize name="content"  placeholder="Content" required [(ngModel)]="file.content"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="right">
      <button mat-button routerLink="/files" type="button">Cancel</button>
      <button mat-raised-button type="submit" [disabled]="!form.valid">Save</button>
    </mat-card-actions>

  </mat-card>
</form>
