<div style="display: flex; align-items: center; justify-content: center">
  <form (ngSubmit)="submit()" #form="ngForm">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>
        Login with the password from your server setup.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-form-field style="width: 100%">
          <input name="password"
                 matInput
                 autocomplete="password"
                 type="password"
                 placeholder="Password"
                 required
                 [(ngModel)]="password">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="right">
        <button mat-button mat-raised-button type="submit" [disabled]="!form.valid">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
